.page-header {
    background-image: linear-gradient( rgba(100, 100, 100, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/header.JPG");
    height: 100vh; 
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header nav {
    margin-bottom: auto;
}

.page-title {
    text-align: center;
    color:#dddddd;
    font-size: 4rem;
}