{% extends "base.html" %}
{% block title %}Greenleaf Initiative {% endblock %}

{% block container %}
        <div class="page-header">
            <h1 class="page-title">GREENLEAF INITIATIVE</h1>
        </div>
        <div class="content">
            <h1 class="content-title">Introduction</h1>
            <p>The Greenleaf Intiative, Sri Lanka, is a team of youth environmentalists, and at present we are dedicated to creating online content to promote 
                green living and raise awareness on issues like global warming and pollution. We also hope to host tree-planting events, fundraisers, beach 
                cleanups and other projects soon. Despite being based in Sri Lanka, our online projects are open to youth from all over the world, and anyone is welcome 
                to become a member of the team and contribute to our cause.</p>
            <a href="about.html" role="button" class="btn btn-outline-info">Learn more</a>
            <h2 class="content-subtitle">Featured Projects</h2>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/poster.png" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-title">Poster Contest: Ongoing</p>
                            <p class="card-text">This project is open to the public and you can submit an entry too!</p>
                            <div class="card-footer">
                                <a href="posts/poster_contest.html" class="card-btn btn btn-outline-primary">Get involved</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/revive.png" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-title">Revive</p>
                            <p class="card-text">An environmental awareness discussion by the founding members of the Greenleaf Initiative.</p>
                            <div class="card-footer">
                                <a href="https://www.youtube.com/watch?v=J0n7HY3ptLI" target="_blank" class="card-btn btn btn-outline-primary">Watch video</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/repurpose.png" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-title">Repurpose</p>
                            <p class="card-text">A video on ways to repurpose unwanted things from around the house.</p>
                            <div class="card-footer">
                                <a href="https://www.youtube.com/watch?v=gHDmFWejlys&list=PLorgvuYdCjLDAIXMa8fQL6QyAghmS9LV_" target="_blank" class="card-btn btn btn-outline-primary">Watch video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="content-subtitle">Posts</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/reduce_impact.png" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-title">10 Simple Practices to Reduce Your Impact</p>
                            <p class="card-text">A guide to becoming more eco-friendly in just ten small steps.</p>
                            <div class="card-footer">
                                <a href="posts/reduce_impact.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/start_acting.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">Stop Saying and Start Doing.</p>
                            <p class="card-text">We need to stop denying our actions, stop blaming each other and take responsibility for what we have all helped
                            to do.</p>
                            <div class="card-footer">
                                <a href="posts/start_acting.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/bird.JPG" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <p class="card-title">Colours of the Earth</p>
                            <p class="card-text">An ongoing collection of photography by our members.</p>
                            <div class="card-footer">
                                <a href="posts/coloursofthe_earth.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a href="posts.html" class="btn btn-outline-info">See more</a>
        </div>
{% endblock %}