{% extends "base.html" %}
{% block title %}Join Us | Greenleaf Initiative{% endblock %}

{% block container %}
        <div class="content">
            <h1 class="content-title mt-lg-2 mt-5 mt-md-4">Join Us</h1>
            <div class="card mb-3" style="width: 100%;">
                <div class="row g-0">
                    <div class="col-lg-5">
                        <img src="/static/images/join.png" class="card-img" alt="..." style="height: 100%">
                    </div>
                    <div class="col-lg-7">
                        <div class="card-body">
                            <h3 class="card-title">Become a Part of the Team</h3>
                            <p class="card-text">All you have to do is fill in the form, and you are officially a part of the Greenleaf Initiative. By becoming a member you get to contribute ideas for projects, take on leadership at future events, have your creative work featured on this website, meet like-minded people, and do your best in your own way to protect the planet.
                            </p>
                            <div class="card-footer">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8psFG0lqJ33VAVFDMsZU5j-dxih41MQK3yDMT6ET8r7728Q/viewform?usp=sf_link" class="card-btn btn btn-outline-primary">Sign up</a>
                            </div>
                            <p>To find out more before you register, send your questions to <a href="mailto:greenleaf.initiativesl@gmail.com">greenleaf.initiativesl@gmail.com</a>.</p>
                            <p>If you want to help out without making a full time commitment, you can subscribe to our <a href="https://www.youtube.com/channel/UCO03CxseDk4UWON5G6plMBg" target="_blank">YouTube channel</a>, where we post awareness videos and tutorials, or take part in the Greenleaf <a href="posts/poster_contest.html">poster contest</a> for the year.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}