{% extends "base.html" %}
{% block title %}Posts | Greenleaf Initiative{% endblock %}

{% block container %}     
        <div class="content">
            <h1 class="content-title mt-lg-2 mt-5 mt-md-4">Posts</h1>
            <div class="card mb-3" style="width: 100%;">
                <div class="row g-0">
                    <div class="col-lg-5">
                        <img src="/static/images/posts/start_acting.png" class="card-img" alt="..." style="height: 100%">
                    </div>
                    <div class="col-lg-7">
                        <p class="card-header">Featured</p>
                        <div class="card-body">
                            <h3 class="card-title">Stop Saying and Start Doing.</h3>
                            <h5 class="card-subtitle mb-2 text-muted">Inspiration</h5>
                            <p class="card-text">We need to stop denying our actions, stop blaming each other and take responsibility for what we have all helped to do.</p>
                            <div class="card-footer">
                                <a href="posts/start_acting.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row posts">
                <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/orchid.JPG" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">Nature speaks</p>
                            <h5 class="card-subtitle mb-2 text-muted">Inspiration</h5>
                            <p class="card-text">A collecting of creative writing by our members.</p>
                            <div class="card-footer">
                                <a href="posts/nature_speaks.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/reduce_impact.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">10 Simple Practices to Reduce Your Impact</p>
                            <h5 class="card-subtitle mb-2 text-muted">Guides</h5>
                            <p class="card-text">A guide to becoming more eco-friendly in just ten small steps.</p>
                            <div class="card-footer">
                                <a href="posts/reduce_impact.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/mother_nature2.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">Value of Protecting Mother Nature</p>
                            <h5 class="card-subtitle mb-2 text-muted">Articles</h5>
                            <p class="card-text">We receive hundreds of gifts from Nature that are vital to our survival, and that's one of the many reasons why we
                                should conserve the resources we have, instead of destroying them. In this article, Theruni Abeysinghe discusses the value of the trees
                                in our surroundings, and why we shouldn't be tearing them down.</p>
                            <div class="card-footer">
                                <a href="posts/mother_nature.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/bird.JPG" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">Colours of the Earth</p>
                            <h5 class="card-subtitle mb-2 text-muted">Inspiration</h5>
                            <p class="card-text">A post showcasing the photographic talent of our members.</p>
                            <div class="card-footer">
                                <a href="posts/coloursofthe_earth.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1521791055366-0d553872125f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">6 petitions to sign to make a difference</p>
                            <h5 class="card-subtitle mb-2 text-muted">Articles</h5>
                            <p class="card-text">A big problem about being concerned about our environment in the time of this pandemic is that we can't go outside to plant anything, to protest,
                                or to host campaigns. There is only one way left for many people to contribute to nature, and that way is by signing online petitions...
                            </p>
                            <div class="card-footer">
                                <a href="posts/petitions.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
        
