<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap" rel="stylesheet"> 
        
        <link href="/static/css/common.css" rel="stylesheet">
        <link href="/static/css/post.css" rel="stylesheet">
        
        <title>The Value of Protecting Mother Nature | Greenleaf Initiative</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index.html">Greenleaf</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts.html">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/join.html">Join Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Projects
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=xvsL4YJpRfM">Revive</a></li>
                          <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLorgvuYdCjLDAIXMa8fQL6QyAghmS9LV_">Repurpose</a></li>
                          <li><a class="dropdown-item" href="poster_contest.html">Greenleaflet 2021</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="content-title mt-5 mt-lg-2 mt-md-4">
                <h1>Precious Gifts from Mother Nature</h1>
                <h4 class="text-muted">Theruni Abeysinghe</h4>
            </div>
            <p>Let's ask ourselves, who is Mother Nature?</p>
            <div class="article-img">
                <img class="img-fluid" src="/static/images/posts/mother_nature1.jpg" width="700">
            </div>
            <br>
            <p>Mother Nature is all the trees, bushes, plants animals and water that surround us in everyday life. All of these things are important and without them no living
                beings who live on this planet would be able to survive, but the most important things are all the trees. Let us now take a look at the numerous ways they help
                us.</p>
            <p>The first, and most important gift we receive from trees is Oxygen. And oxygen equals life. Trees use a unique chemical process to turn light energy
                from the sun into this all important gas that provides all of us with life. This process is known as photosynthesis. They do this by mixing carbon dioxide and
                water together. Thus producing oxygen. They use a green pigment called chlorophyll to produce glucose and generate oxygen as a byproduct.</p>
            <p>Next, have you ever wondered how the food that we eat is made? Well, the answer is still trees. They use photosynthesis to produce glucose. They turn
                that glucose into starch and store it in fruits and vegetables.</p>
            <p>Trees also give us shelter from the sun's hot, unforgiving rays. They protect the land from soil erosion, fires, flooding and many, many more. They give
                homes to many birds, animals and insects. They provide us with medicine. And as if all that isn't enough they even help the monsoon rains to reach our
                country in time.</p>
            <div class="article-img">
                <img class="img-fluid" src="/static/images/posts/mother_nature2.jpg" width="700">
            </div>    
            <p>But, even though trees are helping us in so many ways, there are countless people in this world who still continue to cut them down. We should
                not be allowing them to do this. It is our duty to protect them. Do they not deserve to live? They have not done any wrong to anyone. All that they have
                done is sought to help us.</p>
            <p>But the trees around us are falling. We should help them to rise again. They have supported us for so long. Now we have to support them. Right now there
                are still a number of trees left on our planet, or otherwise we would not still be alive but these few are fading fast. It is us, the race of men, who are
                destroying the world. Treebeard's description of orcs in the Lord of the Rings is an accurate description of those of us who go around destroying
                everything and anything in our path. “They come with fire! They come with axes! Gnawing, biting, breaking, hacking, burning!! Destroyers and usurpers,
                CURSE THEM!!”</p>
            <div class="article-img">
                <img class="img-fluid" src="/static/images/posts/mother_nature3.jpg" width="700">
            </div> 
            <p>I know there will always be some who ask 'so, why should we bother to protect trees?' well, if we want to live we must protect them. That is the simple truth.
                Mother nature is known as such because she gave us life. She has loved us and cared for us but of all her children we are the only ones who show her no
                gratitude. We do not deserve her love and protection. She has gifted us with life, but in return we are giving her death.</p>
            <p>We must protect her. We have to save her. She is growing weak. We have to fight for her survival. She doesn't need buildings or cars. Nor does she need economic development, chemicals or garbage. She
                needs us to help her to regain her strength and majesty. All that she is asking from us is our love, our care, for her and her other children.</p>
            <p>Let's come together to protect mother nature. As Jack Barker said, <i>“Let's stop fighting over who we believe created the planet, & work together
                against those that choose to destroy it.”</i></p>
            <br>
                <h2 class="content-subtitle">More Posts</h2>
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/aminthika1.JPG" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">Nature Speaks</p>
                            <p class="card-text">A collection of creative writing by our members.</p>
                            <div class="card-footer">
                                <a href="nature_speaks.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1521791055366-0d553872125f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">6 petitions to sign to make a difference</p>
                            <p class="card-text">A big problem about being concerned about our environment in the time of this pandemic is that we can't go outside to plant anything, to protest,
                                or to host campaigns. There is only one way left for many people to contribute to nature, and that way is by signing online petitions.
                                So we found some petitions anyone can sign to protect their favourite rainforest or to simply prevent plastic wrap being used too often.
                            </p>
                            <div class="card-footer">
                                <a href="start_acting.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a href="/posts.html" class="btn btn-outline-info">View all posts</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>