<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap" rel="stylesheet"> 
        
        <link href="/static/css/common.css" rel="stylesheet">
        <link href="/static/css/post.css" rel="stylesheet">
        
        <title>10 Simple Practices to Reduce Your Impact | Greenleaf Initiative</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index.html">Greenleaf</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts.html">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/join.html">Join Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Projects
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=xvsL4YJpRfM">Revive</a></li>
                          <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLorgvuYdCjLDAIXMa8fQL6QyAghmS9LV_">Repurpose</a></li>
                          <li><a class="dropdown-item" href="poster_contest.html">Greenleaflet 2021</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="content-title mt-5 mt-lg-2 mt-md-4">
                <h1>10 Simple Practices to Reduce Your Impact</h1> 
            </div>
            <p>Reducing your impact doesn’t have to mean turning into a jungle hermit, or spending extravagant amounts of money on solar panels and organic food. You can cut down on a few ordinary things every day and each step will bring you closer to living sustainably.</p>
            <div class="article-img">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1586957469525-7850e7bef283?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width="700">
            </div>
            <h5 class="caption">You don't have to live here <br><span class="small">(Image by <a href="https://unsplash.com/@isaacquesada">Isaac Quesada</a>)</span></h5>
            <br>
            <p><strong>1) Turn it off</strong></p>
            <p>Even though this is the first thing everyone says when they’re talking about being eco-friendly, it’s still something we forget a lot. When you leave a room, spare a second to turn off the fan and lights, and see that no unnecessary appliances are left running. Cutting down on your electricity usage, even by a little, goes a long way.</p>
            <p><strong>2) Save food</strong></p>
            <p>Shipping food from city to city - or country to country - accumulates a large carbon footprint. The only compensation we can make for that, apart from growing your own vegetables, is to not waste food. Save leftovers to use for another meal, or to make soup, top sandwiches, or feed the pets. Eggshells, fruit peels, vegetables scraps etc can be used to make compost, and overripe fruits could be left out for birds or monkeys.</p>
            <p><strong>3) Just say no</strong></p>
            <p>Polythene bags are the biggest menace, even though it’s not that hard to avoid them. Keep a cloth bag in the car for picking up groceries on the way home, or if you can’t do that, most stores sell their own reusable bags. Refuse plastic straws whenever you can, or keep a couple of paper ones in your bag. Stop buying bottled water; an ordinary water filter is better and cheaper in the long term.</p>
            <p><strong>4) Grow some vegetables</strong></p>
            <div class="article-img">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1523348837708-15d4a09cfac2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width="600">
            </div>
            <h5 class="caption">Image credits: <a href="https://unsplash.com/@markusspiske">Markus Spiske</a> on Unsplash</h5>
            <p>Despite sounding like a major operation, growing a few food-producing plants isn’t all that hard. Save the seeds from chillies or tomatoes, and then take a few minutes to plant them. You can even reuse old cartons or tins for this. If you don’t have the time to water the plants every day, there are many tutorials on the Internet on how to set up a simple watering system.</p>
            <p><strong>5) Never let the water run</strong></p>
            <p>While brushing your teeth, using the soap… it should go without saying. Spend less time in the shower, and swap out old shower-heads for modern ones that waste less water. Leaky taps and loose connections to the water supply make up at least ten percent of household water wastage, so make sure to give them regular checks. Water the garden in the early morning or late evening to avoid evaporation.</p>
            <p><strong>6) Take a walk</strong></p>
            <p>Use your car less often, like combining errands to make fewer trips, or sharing someone else’s ride. If using the car is unavoidable, try to leave a little earlier to avoid traffic, and make sure your car is in good condition, because a car that leaks oil or puffs out black smoke is so much worse than ordinary vehicles.</p>
            <p><strong>7) Order online</strong></p>
            <p>While this is somewhat related to number 6, ordering groceries and other items to be delivered to your house can cut down on your impact as well as save you money by preventing impulse-buying. Deliveries would be sent from the nearest branch to your home, and you won’t need to go driving around in search of things and accumulating a big carbon footprint.</p>
            <p><strong>8) Use the microwave</strong></p>
            <div class="article-img">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1613119720614-61ad05237b9c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width="600">
            </div>
            <h5 class="caption">Image credits: <a href="https://unsplash.com/@anetvob">Aneta Voborilova</a> on Unsplash</h5>
            <p>Microwave ovens are much more energy efficient than conventional ones, and most of the recipes you make in the oven have microwave versions too. If you have to use the oven, try to get another batch of food in there so that the electricity consumption is halved.</p>
            <p><strong>9) Fix it, don't trash it</strong></p>
            <p>Most household appliances that break - specially for the first time - can be fixed and made to function as normally as before. This is a lot more eco-friendly than letting it be taken to a landfill, and saves money too. Appliances that are unsalvageable could be used for a different purpose, like planting things in a blender cup or setting up a play kitchen for a younger child.</p>
            <p><strong>10) Mind your clothes</strong></p>
            <p>Avoid fabrics that use microfibres, which end up polluting the ocean and are difficult to get rid of. The safest bet would be wearing cotton, which is sustainable and does not pollute, and look for clothes that last longer. If you outgrow an item of clothing, pass it on to someone else, or turn it into something new. Unwearable clothes can become rags for cleaning up messes.</p>
            <br>
            <p>As long as you’re careful and spare a few seconds to think, living sustainably isn’t hard at all. It just takes a little practice, but once you get used to it, you won’t even notice.</p>
            <br>
            <h2 class="content-subtitle">You might like...</h2>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/mother_nature2.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">Value of Protecting Mother Nature</p>
                            <p class="card-text">We receive hundreds of gifts from Nature that are vital to our survival, and that's one of the many reasons why we
                                should conserve the resources we have, instead of destroying them. In this article, Theruni Abeysinghe discusses the value of the trees
                                in our surroundings, and why we shouldn't be tearing them down.</p>
                            <div class="card-footer">
                                <a href="mother_nature.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/static/images/posts/aminthika1.JPG" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-title">Nature Speaks</p>
                            <p class="card-text">A collection of creative writing by our members.</p>
                            <div class="card-footer">
                                <a href="nature_speaks.html" class="card-btn btn btn-outline-primary">Read post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a href="/posts.html" class="btn btn-outline-info">View all posts</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>